.home-page {
  .albums-table-container {
    overflow-x: auto;
    box-shadow: var(--shadow-secondary);
    border-radius: 0.2rem;
    .albums-table {
      border-spacing: 0;
      text-transform: capitalize;
      min-width: 35rem;
      width: 100%;
      border-collapse: collapse;
      background-color: var(--bg-secondary);
      th,
      td {
        text-align: left;
        vertical-align: baseline;
        padding: var(--s-1);
        &:first-child {
          text-align: center;
        }
      }

      .album-name {
        width: 14rem;
      }

      &__head {
        background-color: var(--table-header-bg);
      }

      &__body {
        tr:not(:last-child) {
          border-bottom-style: groove;
          border-width: 1px;
          border-color: var(--color);
        }
      }
    }

    @media only screen and (max-width: 400px) {
      .album-name {
        width: 12rem;
      }
    }
  }
}
