%flex-column-justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.album-form-page {
  margin: var(--s-2) var(--s-1);
  @extend %flex-column-justify-center;
  align-items: center;
  .album-form {
    padding: var(--s-2);
    @extend %flex-column-justify-center;
    .form-row {
      width: 100%;
      margin: var(--s-1) 0;
      input {
        width: 100%;
        margin: 0 !important;
      }
    }
  }
}
