header {
  background-color: var(--header-bg);
  box-shadow: var(--shadow);
  border-bottom: 1px solid var(--color);
  .logo {
    font-size: var(--font-24);
    color: var(--logo-color);
    font-weight: bolder;
    font-variant: small-caps;
    font-style: italic;
  }
}
